<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleado RR.HH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/empleado_rrhh_form.css">

</head>
<body>
    <!-- HEADER -->
    <header class="bg-light py-3">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <img src="../static/assets/images/logo.png" alt="Logo de El Correo de Yury" class="logo">
                <h1 class="mb-0">El Correo de Yury</h1>
            </div>
        </div>
    </header>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../static/assets/images/logo.png" alt="" width="60" height="24" class="d-inline-block align-text-top">
                Formulario de Registro de Empleados
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'listadoEmpleados' %}">Listado de Trabadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/empleado_rrhh_perfil.html">Mi Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="logout-button" href="#">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- MAIN-BODY -->
<main>
    <div class="form-container">
        <form id="form" method="post">
            {% csrf_token %}
            
            <h2>DATOS PERSONALES</h2>
                <div class="form-row">
                    <div class="form-group">
                        <label for="{{ form_empleado.nombres.id_for_label }}">Nombres</label>
                        {{ form_empleado.nombres }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form_empleado.apellidos.id_for_label }}">Apellidos</label>
                        {{ form_empleado.apellidos }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="{{ form_empleado.sexo.id_for_label }}">Sexo</label>
                        {{ form_empleado.sexo }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form_empleado.rut.id_for_label }}">Rut</label>
                        {{ form_empleado.rut }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="{{ form_empleado.direccion.id_for_label }}">Dirección</label>
                        {{ form_empleado.direccion }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form_empleado.telefono.id_for_label }}">Teléfono</label>
                        {{ form_empleado.telefono }}
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group">
                        <label for="{{ form_empleado.email.id_for_label }}">Email</label>
                        {{ form_empleado.email }}
                    </div>
                </div>

                <h2>DATOS LABORALES</h2>
                <div class="form-row">
                    <div class="form-group">
                        <label for="{{ form_empleado.cargo.id_for_label }}">Cargo</label>
                        {{ form_empleado.cargo }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form_empleado.fechaIngreso.id_for_label }}">Fecha de Ingreso</label>
                        {{ form_empleado.fechaIngreso }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="{{ form_empleado.area.id_for_label }}">Área</label>
                        {{ form_empleado.area }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form_empleado.departamento.id_for_label }}">Departamento</label>
                        {{ form_empleado.departamento }}
                    </div>
                </div>
        
            <div class="form-row">
                <button type="submit" class="primary-button" id="btn-save">Registrar</button>
            </div>
        </form>
    </div>
</main>
    <!-- FOOTER -->
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">© 2023 El Correo de Yury - Todos los derechos reservados</span>
        </div>
    </footer>

</body>
</html>