{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="{% static 'css/listado_empleados.css' %}" rel="stylesheet">
    <title>Empleados</title>
</head>
<body">
      <!-- HEADER -->
      <header class="bg-light py-3">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <img src="{% static 'assets/images/logo.png' %}" alt="Logo de El Correo de Yury" class="logo">
                <h1 class="mb-0">El Correo de Yury</h1>
            </div>
        </div>
    </header>
    <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'assets/images/logo.png' %}" alt="" width="60" height="24" class="d-inline-block align-text-top">
                    Empleados
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../pages/jefe_rrhh_perfil.html">Mi Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="logout-button" href="#">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    <main>
        <div class="filter-bar">
            <form method="get" action="{% url 'listadoEmpleados' %}">
                Sexo:
                <select name="sexo">
                    <option value=""></option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                </select>
                Cargo:
                <select name="cargo">
                    <option value=""></option>
                    <option value="jefe de rrhh">Jefe de RR.HH</option>
                    <option value="empleado de rrhh">Empleado de RR.HH</option>
                    <option value="empleado de la empresa">Empleado de la Empresa</option>
                </select>
                Área:
                <select name="area">
                    <option value=""></option>
                    <option value="area 1">Área 1</option>
                    <option value="area 2">Área 2</option>
                    <option value="area 3">Área 3</option>
                </select>
                Departamento:
                <select name="departamento">
                    <option value=""></option>
                    <option value="departamento a">Departamento A</option>
                    <option value="departamento b">Departamento B</option>
                    <option value="departamento c">Departamento C</option>
                </select>
                <button type="submit" id="filter-button">Filtrar</button>
            </form>
        </div>

        <div class="table-container">
            {% if empleados %}
            <table class="employeesTable">
                <thead>
                    <tr>
                        <th># Rut</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Sexo</th>
                        <th>Fecha de ingreso</th>
                        <th>Departamento</th>
                        <th>Área</th>
                        <th>Cargo</th>
                        <th>Cargas Familiares</th>
                        <th>Contactos de Emergencia</th>
                    </tr>
                </thead>
                <tbody id="employeesTableBody">
                    {% for empleado in empleados %}
                    <tr>
                        <td>{{empleado.rut}}</td>
                        <td>{{empleado.nombres}}</td>
                        <td>{{empleado.apellidos}}</td>
                        <td>{{empleado.email}}</td>
                        <td>{{empleado.telefono}}</td>
                        <td>{{empleado.direccion}}</td>
                        <td>{{empleado.sexo}}</td> 
                        <td>{{empleado.fechaIngreso}}</td> 
                        <td>{{empleado.departamento}}</td> 
                        <td>{{empleado.area}}</td> 
                        <td>{{empleado.cargo}}</td>
                        <td><a href="/listado_cargas/{{empleado.rut}}" class="btn btn-success float-end">Cargas</a> </td>
                        <td><a href="/listado_contactos/{{empleado.rut}}" class="btn btn-success float-end">Contactos</a><td>
                        <td><a class="btn btn-success btn-sm" href="/actualizar/{{empleado.rut}}"><i class="bi bi-pencil-square"></i></a></td>       
                        <td><a class="btn btn-danger btn-sm" href="/eliminar/{{empleado.rut}}"><i class="bi bi-trash"></i></a></td>         
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="alert alert-danger text-center">
                    No se encuentran Empleados en el sistema
                </div>
            {% endif %}

            <a href="/" class="btn btn-danger float-start">VOLVER</a>
            <a href="/formulario_empleado" class="btn btn-success float-end">AGREGAR EMPLEADO</a>
        </div>
    </main>
</body>
</html>
